sudo: required
dist: trusty

before_install:
  - sudo add-apt-repository -y ppa:beineri/opt-qt57-trusty
  - sudo apt-get update

install:
  - sudo apt-get install -y qt-latest

script:
  - . "/opt/qt57/bin/qt57-env.sh"
  - cd cmake
  - sh run.sh