sudo: required
dist: trusty

before_install:
  - sudo add-apt-repository -y ppa:beineri/opt-qt571-trusty
  - sudo apt-get update

install:
  - sudo apt-get install -y qt-latest

script:
  - . "/opt/qt57/bin/qt57-env.sh"
  - cd cmake
  - build-wrapper-linux-x86-64 --out-dir bw-output sh run.sh
  - cd ..
  # other script steps might be done before running the actual analysis
  - sonar-scanner

addons:
  sonarcloud:
    organization: "allyusd-github" # the key of the org you chose at step #3
    token:
      secure: $SONAR_TOKEN # encrypted value of your token
